*{
    box-sizing: border-box;
    margin: 0%;
}
body{
background-color:lightgrey;
}
header{
    background-color: white;
    
}
ul{
    list-style: none;
}
.logo{
    display: inline-block;
    vertical-align: 15px;
    
}

.container  {
    margin: auto;
    background-color: white;
    width: 80%;
    margin-top: 1px;
    padding-left: 50px;
    padding:10px
}


.first   {
    margin-left: 50px;
    background-color: cornflowerblue;
    color: white;
    border-radius: 5px;
   
    font-size: 15px;
    
   
}
.second{
    background-color:white;
    color:grey;
    border-radius: 5px;
    font-size: 15px;
}

.principale{
    padding-left: 50px;
}

.symbol{
    
    border-radius:100%;
    padding: 4px;
    margin-top: 10px;
    font-weight:bold;
    font-size: 10px;
    vertical-align: middle;
    
}

.spunta{
    border: 1px solid greenyellow ;
    color: greenyellow;
}
.cross{
    border: 1px solid red;
    color: red;
}
.tag{
    border-radius:3px;
    font-size: 10px;
    padding: 3px;
}

.editorial{
    
   
    background-color: cornflowerblue;
}

.q1{
    background-color: violet;

}
.Recruiting{
    background-color: green;
}
.mobile{
    background-color: orange;
}
.website{
    background-color: orchid;
}
.Sales{
    background-color: palegreen;
}
